[Unit]
Description=poold - MQTT Pool Controller 
Documentation=https://github.com/avbdr/poold
After=network.target

[Service]
Type=simple
User=root
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=poold
StandardOutput=append:/srv/poold/poold.log
StandardError=append:/srv/poold/poold.log
WorkingDirectory=/srv/poold/
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
